@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.top-bar {
    font-family: "DM Sans", sans-serif;
    height: 40px;
    margin: 0;
    font-weight: 500 !important;
}

.container {
    width: 1120px;
}


.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 15px;
    align-items: center;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #ff6700;
}

.navbar-brand {
    font-weight: bold;
    color: #333;
}


.navbar-nav {
    gap: 20px;
    margin-left: -100px;

}

.top-bar {
    background-color: #10243E;
    color: white;
    text-align: center;
    padding: 5px 0;

}

.icon-buttons i {
    color: aliceblue;
    background-color: #ff6700;
    border-radius: 50%;
    font-size: 20px;
}

.icon-buttons i:hover {
    color: #333;
}


.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 250px;

}

.right-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #10b9810d !important;
}


/* navbar cart */

.hero-dropdown {
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    display: none;
}

.hero-dropdown.show {
    display: block;
}

#heroDropdown {
    color: #ff6700;
}

.hero-dropdown a {
    text-decoration: none;
    color: rgb(22, 28, 45);
}


.hero-dropdown a:hover {
    color: #ff6700;
}


.hero-dropdown-hero {
    width: 140px;
}

.hero-dropdown-products {
    width: 1110px;
    height: 370px;
    position: relative;
    left: -370px;
}

.hero-dropdown-shop {
    width: 230px;
    height: 345px;
    color: rgb(22 28 45 / var(--tw-text-opacity));
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 17px;
}

.hero-dropdown a {
    display: flex;
    padding: 9px;
    font-size: 15px;
}

.hero-dropdown-pages {
    width: 170px;
    height: 380px;
}

.hero-dropdown-pages a {
    padding: 7px;
}


.hero-dropdown-products a {
    display: flex;
    padding: 5px;
    font-size: 15px;
}

.position-absolute h6 {
    padding: 5px;
    font-size: 15px;
    color: rgb(150, 150, 150);
}

.position-absolute img {
    width: 160px;
    height: 250px;
    position: absolute;
    margin-left: 930px;
}

.position-absolute button {
    width: 130px;
    height: 35px;
    position: absolute;
    margin-left: 920px;
    margin-top: -60px;
    border-radius: 5px;
    background-color: #d0baab;
    color: #ff6700;
}

.column {
    margin-right: -30px;
}


/* ------------------------------- */


#medium {
    background-image: url(../images/bg3.ac28474effac8a3f8537.png);
    background-size: cover;
    background-position: center;
    width: 1500px;
    height: 700px;
    width: 100%;
    background-color: #10b9810d !important;
}



/* gallery2 */


.header span {
    margin-left: 35px;
    padding: 18px;
}


.text-center {
    position: relative;
    padding: 100px;
}

.collegtion {
    font-size: 20px;
}

.collegtion~h4 {
    font-size: 60px;
}

.text {
    font-size: 20px;
}

.btn-primary {
    width: 150px;
    height: 40px;
    position: relative;
    background-color: black;
    color: white;
    font-size: 20px;
}

#gallery h5 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#gallery p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}


.header img {
    width: 200px;
    height: 190px;
    border-radius: 50%;
}

span {
    margin-top: 100px;
}

.arrival-product h5 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 92px;

}


.arrival-product p {
    display: flex;
    justify-content: center;
    text-align: center;
}


.arrival-product-img {
    width: 250px;
    height: 320px;
    margin-bottom: 16px;
    margin-top: 30px;
    transition: all 0.5s;
    border-radius: 10px;
}



/* gallery3 */


#gallery3 {
    position: relative;
}


#gallery3 img {
    background-image: url(../images/bg3.ac28474effac8a3f8537.png);
    background-size: cover;
    background-position: center;
    width: 1500px;
    height: 500px;
    width: 100%;
    background-color: #ff6700;
    position: relative;
}


#gallery3 h3 {
    border-top: 20px;
    color: rgb(255 255 255);
    font-size: 40px;
    position: absolute;
    top: 110px;
    color: white;
    z-index: 5;
    left: 520px;
}

#gallery3 p {
    text-align: center;
}


.clearance-sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6700;
    padding: 20px;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-image img,
.right-image img {

    height: auto;
}

.center-text {
    text-align: center;
    flex-grow: 1;
}

.center-text h1 {
    font-size: 2.5rem;
}

.center-text p {
    font-size: 15px;
    margin: 10px 0;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
    position: relative;
}

.time-box {
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80px;
}

.time-box span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.shop-now {
    background-color: white;
    color: #ff6700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}


/* popular  */

#popular {
    padding: 100px;

}

.popular-gallery {
    display: flex;
    justify-content: space-between;

}

.popular-img:hover img {
    transform: scale(1.1);
    transition: transform 0.3s; 
} 

.popular-img {
    overflow: hidden; /* Sekilin çevrə içində qalmasını təmin edir */
  
}



.right {
    display: flex;
    justify-content: space-between;

}

.popular-img img {
    width: 250px;
    height: 340px;
    gap: 20px;
    border-radius: 10px;
}

.popular-img a {
    text-decoration: none;
    color: #333;
}



.arrival-product-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.product {
    position: relative;
    width: 200px;
    height: 300px;
    border: 1px solid #ddd;
    text-align: center;
    transition: transform 0.3s ease;
}


.arrival-product-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    transform-origin: center;
    border: 1px solid rgb(226, 223, 223);
    box-sizing: border-box;
}


.arrival-product-img a{
    text-decoration: none;
    color: #333;
}


.arrival-product-img:hover img {
    transform: scale(1.1);

} 


/* .add-to-cart {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    display: none;
    cursor: pointer;
} */

.product:hover .add-to-cart {
    display: block;
}


.icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    flex-direction: column;
}

.product:hover .icons {
    display: flex;
}

.icons i {
    margin-bottom: 5px;
    cursor: pointer;
    font-style: normal;
    padding: 5px;
    background-color: #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer */

.footer-card {
    display: flex;
    width: 25px;
    height: 25px;
    gap: 5px;
    margin-left: 880px;
    margin-top: -40px;
}


.list-inline {
    font-size: 12px;
    margin-left: 100px;

}

.list-unstyled li a {
    text-decoration: none;
}

.list-left ul li a {
    margin-left: -50px;
}

.list-left2 ul li a {
    margin-left: -60px;
}

.list-left3 h5 {
    margin-left: -60px;
}

.list-left3 p {
    margin-left: -60px;
}

.mb-3 {
    margin-left: -60px;
}

.btn-warning {
    margin-left: -60px;
    width: 222px;
    color: white;
    background-color: #ff6700;
}

.list-left3 .form-control{
    color: white;
}



.list-left3 label {
    margin-left: -60px;
}

.list-left3 span {
    color: red;
}





