@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.top-bar {
    font-family: "DM Sans", sans-serif;
    height: 40px;
    margin: 0;
    font-weight: 500 !important;
}

.container {
    width: 920px;
}


.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 15px;
    align-items: center;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #ff6700;
}

.navbar-brand {
    font-weight: bold;
    color: #333;

}

.top-bar {
    background-color: #10243E;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.icon-buttons i {
    color: aliceblue;
    background-color: #ff6700;
    border-radius: 50%;
    font-size: 20px;
}

.icon-buttons i:hover {
    color: #333;
}


.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30px;
}

.right-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
}

#medium {
    background-image: url(../images/bg3.ac28474effac8a3f8537.png);
    background-size: cover;
    background-position: center;
    width: 1500px;
    height: 700px;
    width: 100%;
}

.text-center {
    position: relative;
    padding: 100px;
}

.collegtion {
    font-size: 20px;
}

.collegtion~h4 {
    font-size: 60px;
}

.text {
    font-size: 20px;
}

.btn-primary {
    width: 150px;
    height: 40px;
    position: relative;
    background-color: black;
    color: white;
    font-size: 20px;
}

#gallery h5 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#gallery p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}


.header img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.arrival-product h5 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 92px;

}


.arrival-product p {
    display: flex;
    justify-content: center;
    text-align: center;
}


.arrival-product-img {
    width: 250px;
    height: 320px;
    margin-bottom: 16px;
    margin-top: 30px;
    transition: all 0.5s;
}






/* ------Footer-----------00- */
.list-inline {
    margin-left: 60px;
    width: 900px;
    height: 110px;
    display: flex;
    gap: 50px;
}

.footer-card{
    width: 20px;
    height: 20px;
    display: flex;
   
    justify-content: space-between;
    gap: 5px;
}